
.btn{
  background-color:transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color .3s ease;

  &:focus{
    outline: none;
  }

  &:hover{
    color: var(--light-grey);
  }

}

.btn-primary {
  background-color: var(--color-primary);
  border-radius: 2px;
  
  &:disabled{
    background-color: var(--color-primary-light);
  }

  &:hover{
    background-color: var(--color-primary-dark);
  }
}

.btn-secondary{
  background-color: var(--color-secondary);
  border-radius: 5px;
  background-color: var(--color-primary-light);
  margin-left: 5px;


  &:hover{
    background-color: var(--color-primary-dark);
  }
}

.btn-block{
  width: 100%;
}
