
.auth__main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.auth__box-container{
  background-color: white;
  box-shadow: 0 3px var(--dark-grey);
  border-radius: 2px;
  padding: 20px;
  width: 250px;
}
