.nothing__main-content{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   color: white; 
   background-color: var(--color-primary);

   p{
     text-align: center;
   }
}
