 .journal__sidebar{
   width: 35vw;
   height: 100%;//? usa el 100vh cuando tengas pantalla full hd
   padding-left: 0.625rem;
   padding-right: 0.625rem;
   display: flex;
   flex-direction: column;
   color: white;
   background-color: var(--dark-grey);
  }
  
  .journal__sidebar-navbar{
    display: flex;
    justify-content: space-between;

    &>h3{
      font-weight: bold;

      &>span{
        margin-left: 0.5rem;
      }
    }
  }
  
  .journal__new-entry{
    //  border: 1px solid red;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   width: 100%;

   transition: color 0.3s ease;

   &:hover{
      background-color: var(--light-grey);
   }
 }

 /* 
  * Entries
  */
  
  .journal__entries{
    flex: 1 1 auto;
    margin-top: 1.875rem;
  }
  
  /* 
   * Entry
   */

  .journal__entry{
    background-color: white;
    border-radius: 4px;
    color: var(--dark-grey);
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .journal__entry-picture{
    // height: 5.6rem;
    width: 96px;
  }

  .journal__entry-body{
    padding: 10px;
  }
  .journal__entry-title{
    font-size: 14px;
    font-weight: bold;
  }

  .journal__entry-content{
    font-size: 0.625rem;
  }

  .journal__entry-date{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }

  .journal__entry-date span{
    font-size: 12px;
  }
